# hello-consumer 模块的应用名字，也是微服务的默认名字
spring:
  application:
    name: hello-consumer-service

provider:
  name: hello-provider-service

logging:
  level:
    cloud:
      tangyuan:
        helloconsumer:
          HelloFeignService: DEBUG