# hello-consumer 模块的应用名字，也是微服务的默认名字
spring:
  application:
    name: hello-consumer-service
  # Nacos 服务器的地址
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848  # Nacos 服务器的实际地址
    # Spring Cloud LoadBalancer 配置
    loadbalancer:
      ribbon:
        enabled: false  # 禁用 Ribbon，使用 LoadBalancer

# hello-consumer 模块的 Tomcat 容器所监听的端口
server:
  port: 8082

management: 
  endpoints: 
    web: 
      exposure: 
        include: "*"